extends layout
block css
	style.
		body {
			background: #dedede;
		}
		.page-wrap {
			min-height: 100vh;
		}
block content
	//- h1= message
	//- h2= error.status
	.page-wrap.d-flex.flex-row.align-items-center
		.container
			.row.justify-content-center
				.col-md-12.text-center
					span.display-1.d-block= error.status
					.mb-4.lead= message
					pre #{error.stack}
					

