extends components/layout

block content
	table.table
		thead
			tr
				th(scope='col') #
				th(scope='col') First
				th(scope='col') Last
				th(scope='col') Email
		tbody
			tr
				th(scope='row') 1
				td Mark
				td Otto
				td random1@email.com
			tr
				th(scope='row') 2
				td Jacob
				td Thornton
				td random2@email.com
			tr
				th(scope='row') 3
				td Larry
				td Hudson
				td random3@twitter.com
